<div class="container-fluid container-principal">
  <div class="d-flex justify-content-center">
    <div class="row mt-5 mb-5">
      <h3 class="text-center mt-5 mb-4"><b>Adicionar novo produto</b></h3>
      <form class="form mt-4">
        <div class="form-group form-outline mb-4">
          <input
            type=""
            class="form-control"
            placeholder="URL da imagem"
            name=""
          />
        </div>
        <div class="form-outline mb-4">
            <input
              type=""
              class="form-control teste2"
              placeholder="Categoria"
              name="categoria"
            />
        </div>
        <div class="form-outline mb-4">
          <input
            type=""
            class="form-control"
            placeholder="Nome do produto"
            name=""
          />
        </div>
        <div class="form-outline mb-4">
          <input
            type=""
            class="form-control"
            placeholder="Preço do produto"
            name=""
          />
        </div>
        <div class="form-outline mb-4">
          <input
            type=""
            class="form-control"
            placeholder="Descriçaõ do produto"
            name=""
          />
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-block mb-5">
            Adicionar produto
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
