<div class="container">
  <div class="row">
    <div class="col-md-6 mb-2">
      <img
        src="../../../assets/img/img_product1.png"
        alt="Imagem do produto"
        class="img-fluid d-none d-sm-block"
      />
    </div>
    <div class="col-md-6">
      <h2>Produto</h2>
      <p><b>R$60,00</b></p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quos
        cumque neque exercitationem voluptatibus delectus id? Assumenda,
        repellendus fugiat est laboriosam ea officia tenetur cumque quas
        excepturi repudiandae, cum consectetur.
      </p>
    </div>
  </div>
</div>

<div class="container mt-5 mb-3">
  <div class="d-flex justify-content-between">
    <h2>Produtos Similares</h2>
  </div>
</div>
<div class="container">
  <div class="row row-cols-md-12">
    <div class="col">
      <div class="text-start">
        <img src="../../assets/img/img1.png" alt="" />
        <div class="">
          <p>Produto XYZ</p>
          <p><b>R$50,00</b></p>
          <a href="" class="link-primary text-decoration-none">Ver produto</a>
        </div>
      </div>
    </div>
  </div>
</div>
