.banner-container {
  padding: 4.875rem 1rem 1rem;
  background: url("../../assets/img/banner.png") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.banner-container__texto {
  color: #ffffff;
}

.banner-container__botao {
  font-weight: 100;
}

.btn-verTudo {
  &:hover {
    background-color: var(--bs-btn-bg);
    color: var(--bs-btn-color);
  }
}

