<div class="container-fluid banner-container">
  <div class="container container-layout-banner">
    <h1 class="banner-container__texto">Dezembro Promocional</h1>
    <p class="banner-container__texto">Produtos selecionados com 33% de desconto</p>
    <a class="btn btn-primary rounded p-2 banner-container__botao" href="#" role="button">Ver Consoles</a>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <h2>Star Wars</h2>
        <button type="button" class="btn btn-outline-primary border-0 hover-0 btn-verTudo">
          <a href="" class="link-primary text-decoration-none">Ver tudo<fa-icon class="p-2" [icon]="faArrowRight"></fa-icon></a>
        </button>
    </div>
  </div>

  <div class="row row-cols-md-12">

    <div class="col">
      <div class="text-start">
        <img src="../../assets/img/img1.png" alt="">
        <div class="">
          <p>Produto XYZ</p>
          <p><b>R$50,00</b></p>
          <a href="" class="link-primary text-decoration-none">Ver produto</a>
        </div>
      </div>
    </div>

  </div>
</div>
