<footer>
  <div class="container-fluid footer-container">
    <div class="container pt-5 pb-5">
      <div class="container row">
          <div class="col-md-3">
            <img src="../../../assets/img/logo.png" alt="AluraGeek" />
          </div>
          <div class="col-md-3">
            <li class="row pb-2"><a href="#">Quem somos nós</a></li>
            <li class="row pb-2"><a href="#">Política de privacidade</a></li>
            <li class="row pb-2"><a href="#">Programa fidelidade</a></li>
            <li class="row pb-2"><a href="#">Nossas lojas</a></li>
            <li class="row pb-2"><a href="#">Quero ser franqueado</a></li>
            <li class="row pb-2"><a href="#">Anuncie aqui</a></li>
          </div>
          <div class="col-md-6">
            <strong class="row">Fale conosco</strong>
            <input class="row form-control" type="text">
            <input class="row form-control" type="text">
            <a class="btn btn-primary rounded text-light" href="#" role="button">Enviar mensagem</a>
          </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <p>Desenvolvido por <a href="https://github.com/brenogpa">Breno Abreu</a><br>2022</p>
  </div>
</footer>
