<div class="container mt-3 mb-3">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <h2>Todos os produtos</h2>
      <button
        type="button"
        class="btn btn-primary"
      >Adicionar produto</button>
    </div>
  </div>

  <div class="row row-cols-md-12">
    <div class="col">
      <div class="text-start">
        <img src="../../assets/img/img1.png" alt="" />
        <div class="">
          <p>Produto XYZ</p>
          <p><b>R$50,00</b></p>
          <a href="" class="link-primary text-decoration-none">Ver produto</a>
        </div>
      </div>
    </div>
  </div>
</div>
