<nav class="navbar bg-white">
  <div class="container d-flex align-items-center">
    <a class="navbar-brand p-2" href="">
      <img src="../../../assets/img/logo.png" alt="AluraGeek" />
    </a>
    <div class="col-sm-3">
      <div class="input-group">
        <input
          class="form-control rounded-pill barra-pesquisa"
          type="search"
          placeholder="O que deseja encontrar?"
          aria-label="Search"
        />
        <fa-icon class="icone-pesquisa" [icon]="faMagnifyingGlass"></fa-icon>
      </div>
    </div>
    <button
      *ngIf="toDisplay"
      (click)="hideButton()"
      [routerLink]="['login']"
      type="button"
      class="btn btn-outline-primary rounded ms-auto p-2 px-5"
    >
      Login
    </button>
  </div>
</nav>
